<div style="background-image: url('assets/images/bg.png');
min-height:100vh;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="title">Web 3</div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><p class="desc">(Also known as Web 3.0 and sometimes stylized as web3)<br/>is an idea for a new iteration<br/>of the World Wide Web based on blockchain technology,<br/>which incorporates concepts such
            as decentralization<br/>and token-based economics.</p></mat-grid-tile>
        <mat-grid-tile><div><img src="assets/images/web3.png" style="height: 300px;"></div></mat-grid-tile>
    </mat-grid-list>
    <div></div>
</div>