<div style="background-image: url('assets/images/bg.png');
min-height:100vh;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="title">Welcome!</div>
    <div class="content"><img src="assets/images/market.png" style="height: 400px; margin-top: 24px;"></div>
    <div class="content"><img src="assets/images/news.png" style="height: 400px; margin-top: 24px;"></div>
    <div class="content"><img src="assets/images/stake.png" style="height: 400px; margin-top: 24px;"></div>
    <div class="content"><img src="assets/images/swap.png" style="height: 400px; margin-top: 24px;"></div>
    <div class="content"><img src="assets/images/withdraw.png" style="height: 400px; margin-top: 24px;"></div>
</div>