<div class="about-html">
    <mat-card class="content">
        <div class="title">H U M I D E F I</div>
        <div class="list">
           <ul style="margin: auto;">
            <li>
                DeFi <span class="bold">UMI</span>  and <span class="php">PHPU</span>(Centralized Philippine Peso Stable Coin.)
            </li>
            <li>
               Bridge for Acala <span class="bold">aUSD</span> and Polkadot <span class="bold">DOT</span> tokens.
            </li>
            <li>
                Governance and Validator Staking
            </li>
            <li>
                Smart Contract Management- Fungible(Token) and Non-fungible(NFT)
            </li>
           </ul>
        </div>
    </mat-card>
</div>
    

