<div style="background-image: url('assets/images/bg.png');
min-height:100vh;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="title">Tokens</div>
    <div class="desc">• UMI – Native token of the UMI/Humidefi network<br/>• PHPU–CollateralizedPhilippinepesostablecoin</div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><div><img src="assets/images/humidefi.png" style="height: 300px;"></div></mat-grid-tile>
        <mat-grid-tile><div><img src="assets/images/phpu.png" style="height: 300px;"></div></mat-grid-tile>
    </mat-grid-list>
    <div></div>
</div>