.title {
    font-size: 75px;
    color: white;
    text-align: center;
    display: block;
    padding-top: 120px;
    padding-bottom: 24px;
}

.desc {
    font-size: 24px;
    color:white;
    line-height: 30px;
    display: flex;
    justify-content:center;
    padding-top:24px;
}