<!-- Navbar-->
<!-- <div class="n-top-strip"></div> -->
<nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
    
  <div class="container">
      <a class="navbar-brand" href="#page-top"><img src="assets/images/landing-page/humidefi-logo_100px.png" class="n-nav-logo"></a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#tokens">Tokens</a></li>
              <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Technology</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Community</a></li> -->
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
              <li class="nav-item mx-0 mx-lg-1" style="background-color: silver; border-radius: 6px;"><a class="nav-link py-3 px-0 px-lg-3 rounded" style="color:#f24454" href="https://app.humidefi.com">App</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Masthead Disable
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
       
        <img class="masthead-avatar mb-5" src="assets/images/template/game.png" alt="..." />
       
        <h1 class="masthead-heading text-uppercase mb-0">Humidefi</h1>
     
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
       
        <p class="masthead-subheading font-weight-light mb-0">Decentralized Financed Hub of UMI and PHPU</p>
    </div>
</header>-->

<!-- Hero Section-->
<div class="n-hero-section page-section" style="background: url('assets/images/landing-page/hero-background-v1.jpg') center center; background-size: cover;">
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-lg-5" style="text-align: center;">
                <img src="assets/images/landing-page/humidefi-logo_main.png" style="margin-bottom:25px;">
                <div class="n-divi" style="background: url('assets/images/landing-page/divider_center.png') center center; background-size: auto;"></div>
                <h1 class="n-h1">Decentralized Finance  Hub of UMI and PHPU</h1>
                <p class="font-weight-light mb-0">Whether you are a developer or a trader, Humidefi is the easiest place where you could build your own dApp, perform DeFi functions and create your own fungible and non-fungible tokens.</p>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <a href="https://app.humidefi.com/" class="mn-btn">Open APP</a>
            </div>
            <div class="col-lg-7" style="background: url(assets/images/landing-page/circl_strip_color.png) center center;">
                <img src="assets/images/landing-page/phone_01.png" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>

<!-- Acala Section-->
<section class="page-section" id="about" style="background: #f24454;">
    <div class="container">
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-lg-5 n-acala" style="text-align:center;">
                    <img src="assets/images/landing-page/ausd.png" alt="..." />
                    <img src="assets/images/landing-page/dot.png" alt="..." />
                </div>
                <div class="col-lg-7">
                    <h1 class="n-h1" style="color:#fff;">About</h1>
                    <div class="n-divi" style="background: url('assets/images/landing-page/divider_left_light.png') left center; background-size: auto;"></div>
                    <h2 class="n-h2">Stake, swap, purchase and withdraw UMI tokens</h2>
                    <h2 class="n-h2">Home of PHPU, a collateralized Philippine Peso stable coin</h2>
                    <h2 class="n-h2">Bridge for aUSD, DOT and other Polkadot eco-system tokens</h2>
                    <h2 class="n-h2">Create your own fungible and non-fungible tokens</h2>
                    <h2 class="n-h2">Learn about blockchain and dApp integration</h2>
                    
                </div>
                <div class="col-lg-12" style="text-align: center;"><a href="#about" class="sec-btn-light" style="margin-top:25px;">Learn More</a></div>
            </div>
        </div>
    </div>
</section>

<!-- Token Section-->
<div class="n-gold-strip"></div>
<section class="page-section" id="tokens" style="background: url('assets/images/landing-page/umi-phpu-bg.jpg') center center; background-size: auto; background-attachment: fixed;">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="n-h1" style="color:#000000; text-align: center;">Tokens</h2>
        <div class="n-divi" style="background: url('assets/images/landing-page/divider_center.png') center center; background-size: auto;"></div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="text-center col-lg-4 ms-auto">
                <img style="height:300px" src="assets/images/landing-page/UMI_coin_v2.png" alt="..." />
                <h1><b>UMI</b></h1>
                <h2>The native token of Humidefi blockchain</h2>
            </div>
            <div class="text-center col-lg-4 me-auto">
                <img style="height:300px" src="assets/images/landing-page/PHPU_coin_v2.png" alt="..." />
                <h1><b>PHPU</b></h1>
                <h2>Collateralized Philippine Peso stable coin</h2>
            </div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a href="#about" class="mn-btn">Learn More</a>
        </div>
    </div>
</section>
<div class="n-gold-strip"></div>
<!-- Contact Section-->
<section class="page-section" id="contact" style="background: url('assets/images/landing-page/bg_contact.jpg') center center; background-size: cover;">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="n-h1" style="color:#000000; text-align: center;">Contact Us</h2>
        <div class="n-divi" style="background: url('assets/images/landing-page/divider_center.png') center center; background-size: auto;"></div>
        
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN" class="mn-form">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <button class="mn-btn" id="submitButton" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer text-center" style="background:#2d2d2d;">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0" style="font-size: small; color: gray">
                    Cebu City Philippines, 6000
                    <br>
                    <img src="assets/images/flag.png" style="max-width: 25px;">
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/haroldglenn.minerva"><fa-icon [icon]="faFacebookF"></fa-icon></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/hgminerva"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://discord.gg/AGmMYWA26n"><fa-icon [icon]="faDiscord"></fa-icon></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/hgminerva?tab=repositories"><fa-icon [icon]="faGithub"></fa-icon></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Humidefi</h4>
                <p class="lead mb-0" style="font-size: small; color: gray">
                    Whether you are a developer or a trader, Humidefi is the easiest place where you could build your own dApp, perform DeFi functions and create your own fungible and non-fungible tokens.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white n-copyright">
    <div class="container">
        <small>Copyright &copy; Humidefi 2022 &nbsp;</small>
    </div>
</div>



